/Phong Shading/TexturingAndLighting/bin/TextureAndLighting.exe
/Phong Shading/OpenGL.VC.db
/Phong Shading/TexturingAndLighting/bin/TextureAndLighting.iobj
/Phong Shading/TexturingAndLighting/bin/TextureAndLighting.ipdb
/Phong Shading/TexturingAndLighting/bin/TextureAndLighting.pdb
/Phong Shading/OpenGL.VC.db
/Phong Shading/OpenGL.VC.VC.opendb
/Phong Shading/TexturingAndLighting/bin/TextureAndLighting.iobj
/Phong Shading/TexturingAndLighting/bin/TextureAndLighting.ipdb
/Phong Shading/TexturingAndLighting/bin/TextureAndLighting.pdb
